<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan base-package="com.ltca.*" />
	<mvc:annotation-driven />

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<!-- <property name="jdbcUrl"
			value="jdbc:mysql://50.116.37.51:3306/letschina?useUnicode=true&amp;characterEncoding=utf-8" /> -->
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/letschina?useUnicode=true&amp;characterEncoding=utf-8" />
		<property name="user" value="root" />
		<property name="password" value="zjb" />
		<property name="maxPoolSize" value="20" />
		<property name="minPoolSize" value="1" />
		<property name="initialPoolSize" value="1" />
		<!-- 指定连接数据库连接池的连接的最大空闲时间 -->
		<property name="maxIdleTime" value="20"></property>
	</bean>


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQLDialect
				hibernate.show_sql=true
				hibernate.format_sql=true
				hibernate.hbm2ddl.auto=update

			</value>
		</property>
		<property name="packagesToScan" value="com.ltca.entity" />
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="load*" read-only="true" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="serviceOperation" expression="execution(* com.ltca.service.*.*(..))" />
		<aop:advisor pointcut-ref="serviceOperation" advice-ref="txAdvice" />
	</aop:config>

	<bean id="springUtil" class="com.ltca.util.SpringUtil" lazy-init="false" />

	<bean id="jacksonObjectMapper" class="org.codehaus.jackson.map.ObjectMapper"
		lazy-init="false" />

	<bean id="jacksonMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jacksonMessageConverter" />
			</list>
		</property>
	</bean>

	<bean id="image.accept.extensions" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<entry key=".jpg" value="true" />
				<entry key=".gif" value="true" />
				<entry key=".jpeg" value="true" />
				<entry key=".bmp" value="true" />
				<entry key=".png" value="true" />
			</map>
		</constructor-arg>
	</bean>

	<bean id="image.max.size" class="java.lang.Integer">
		<constructor-arg type="int" value="10485760" />
	</bean>

	<bean id="ltca.http.url" class="java.lang.String">
		<!-- <constructor-arg type="java.lang.String" value="http://114.112.95.126" 
			/> -->
		<constructor-arg type="java.lang.String" value="http://localhost:8080" />
	</bean>

	<bean id="ltca.disk.path" class="java.lang.String">
		<constructor-arg type="java.lang.String" value="FileDisk" />
	</bean>


	<bean id="fileUploadUtil" class="com.ltca.util.FileUploadUtil"
		scope="prototype">
		<property name="fileDisk" ref="ltca.disk.path" />
		<property name="domain" ref="ltca.http.url" />
		<property name="acceptExtensions" ref="image.accept.extensions" />
		<property name="imageMaxSize" ref="image.max.size" />
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760" />
	</bean>
</beans>
